body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

nav ul {
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    padding: 0; 
    margin: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #4a4a4f;
}

.container {
    width: 100%;
    position: relative;
    border: 1px green solid;
    height: 1000px;
}

.card {
    width: 33%;
    min-width: 120px;
    text-align: center;
    position: relative;
    border: 1px #4a4a4f solid;
}

img {
    max-width: 200px;
    
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#html {
    float: left;
}

#css {
    margin: 0 auto;
}


#js {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

#git {
    float: left;
}

#github {
    float: left;
    width: 33%;
}

#gitpod {
    float: right;
    position: inherit;
}




@media screen and (max-width: 750px) {
  #js {
    float: left;
    position: relative;
  }

  #css {
    float: right;
    position: relative;
  }

  #git {
      float: right;  
  }

  .card {
      width: 49%;
      margin: 0;
  }

  img {
      max-width: 60%;
      min-width: 120px;
  }

}

@media screen and (max-width: 320px) {
  
  .card {
      width: 100%;
  }

}

